<header class="sheet-header flexrow">
  <div class="portrait-container">
    <img class="portrait"
      src="{{document.img}}"
      data-edit="img"
      data-action="editImage"
      data-tooltip-text="{{document.name}}"
      alt="{{document.name}}">
  </div>

  <div class="header-data-container flexcol">
    <h1 class="document-name">{{formInput fields.name.field value=fields.name.value rootId=document.id}}</h1>
    <div class="document-details flexrow">
      {{#if fields.actorType.show }}
      <div class="detail-left actor-type">
        {{formGroup fields.actorType.field value=fields.actorType.value localize=true rootId=document.id}}
      </div>
      {{/if}}
      <div class="detail-left trait-type">{{formGroup fields.type.field value=fields.type.value rootId=document.id}}</div>
      {{#if fields.severity.show }}
      <div class="detail-right severity">
        {{formGroup fields.severity.field value=fields.severity.value rootId=document.id}}
      </div>
      {{/if}}
    </div>
  </div>
</header>
