<section class="dialog-content">
  <fieldset>
    <div class="form-group stacked" role="group" aria-labelledby="{{concat partId "-members"}}">
      <span class="label" id="{{concat partId "-members"}}">{{localize "DISCWORLD.dialog.groupTest.membersLabel"}}</span>
      <div class="multi-checkbox form-fields">
        {{#each fields.members.list}}
        <label class="member checkbox">
          <input name="{{@root.fields.members.name}}" value="{{actor.id}}" type="checkbox">
          <img src="{{actor.img}}" alt="{{actor.name}}">
          {{actor.name}}
        </label>
        {{/each}}
      </div>
    </div>
    {{formGroup fields.winCondition.field label=fields.winCondition.label name=fields.winCondition.name rootId=(concat partId "-winCondition")}}
  </fieldset>
</section>
