<header class="sheet-header flexrow">
  <div class="name flexcol">
    <label>Sheet Mode: </label>
    <input
      class="toggle"
      data-action="toggleSheetMode"
      name="isEditMode"
      type="checkbox"
      {{checked isEditMode}}
    />
  </div>
  <img
    class="portrait"
    src="{{document.img}}"
    data-edit="img"
    data-action="editImage"
    title="{{document.name}}"
  />
  <div class="name flexcol">
    <label>Name: </label>
    <input name="name" type="text" class="" value="{{document.name}}" />
  </div>
  <div class="luck-box flexcol">
    <label>Luck:</label>
    <div class="flexrow">
      <input
        name="system.luck.value"
        type="number"
        class=""
        value="{{document.system.luck.value}}"
      />
      /
      {{#if isEditMode}}
        <input
          name="system.luck.max"
          type="number"
          class=""
          value="{{document.system.luck.max}}"
        />
      {{else}}
        {{document.system.luck.max}}
      {{/if}}
    </div>
  </div>
</header>