<header class="sheet-header flexrow">
  <img class="portrait"
       src="{{document.img}}"
       data-edit="img"
       data-action="editImage"
       title="{{document.name}}" />

  <div class="name-pronouns-container flexcol">
    <h1 class="name flexrow">
      {{formInput fields.name.field value=fields.name.value placeholder=fields.name.placeholder}}
    </h1>

    <div class="pronouns-subrow flexrow">
      <div data-tooltip="{{localize "DISCWORLD.sheet.character.toggleSheetMode"}}">
        {{> (systemFilePath "templates/mixins/toggle-switch.hbs")}}
      </div>

      <div class="pronouns">
        {{#if isEditMode }}
          {{formInput fields.pronouns.field value=fields.pronouns.value placeholder=fields.pronouns.placeholder}}
        {{else}}
          {{document.system.pronouns}}
        {{/if}}
      </div>
    </div>
  </div>

  <div class="luck-container flexcol">
    <label>{{localize "DISCWORLD.sheet.character.luck"}}:</label>
    <div class="flexrow">
      {{formInput fields.luckValue.field value=fields.luckValue.value}}
      /
      {{#if isEditMode }}
        {{formInput fields.luckMax.field value=fields.luckMax.value}}
      {{else}}
        {{document.system.luck.max}}
      {{/if}}
    </div>
  </div>

  {{#if helpMode }}
    <aside class="help-aside">
      <a data-action="leaveHelpMode">
        <i class="fas fa-x"></i>
        {{localize "DISCWORLD.sheet.character.leaveHelpMode"}}
      </a>
    </aside>
  {{/if}}
</header>
