<header class="sheet-header flexrow">
  <img class="portrait"
       src="{{document.img}}"
       data-edit="img"
       data-action="editImage"
       title="{{document.name}}" />

  <div class="name-pronouns-container flexcol">
    <h1 class="name flexrow">
      <input name="name"
             type="text"
             value="{{document.name}}"
             placeholder="{{localize "DISCWORLD.sheet.character.name"}}" />
    </h1>

    <div class="pronouns-subrow flexrow">
      <div data-tooltip="{{localize "DISCWORLD.sheet.character.toggleSheetMode"}}">
        {{> (systemFilePath "templates/mixins/toggle-switch.hbs")}}
      </div>

      <div class="pronouns">
        {{#if isEditMode }}
          <input name="system.pronouns"
                 type="text"
                 value="{{document.system.pronouns}}"
                 placeholder="{{localize "DISCWORLD.sheet.character.pronouns"}}" />
        {{else}}
          {{document.system.pronouns}}
        {{/if}}
      </div>
    </div>
  </div>

  <div class="luck-container flexcol">
    <label>{{localize "DISCWORLD.sheet.character.luck"}}:</label>
    <div class="flexrow">
      <input name="system.luck.value"
             type="number"
             value="{{document.system.luck.value}}" />
      /
      {{#if isEditMode }}
        <input name="system.luck.max"
               type="number"
               value="{{document.system.luck.max}}" />
      {{else}}
        {{document.system.luck.max}}
      {{/if}}
    </div>
  </div>

  {{#if helpMode }}
    <aside class="help-aside">
      <a data-action="leaveHelpMode">
        <i class="fas fa-x"></i>
        {{localize "DISCWORLD.sheet.character.leaveHelpMode"}}
      </a>
    </aside>
  {{/if}}
</header>
