<section class="sheet-body">
  {{#each traitGroups as |traits traitType| }}
    <div class="trait-type flexrow">
      <div class="trait-category" data-trait-type="{{traitType}}">
        {{#if ../isEditMode }}
          <a data-action="traitAction" data-action-type="add">
            <i class="fas fa-circle-plus"></i>
          </a>
        {{/if}}
        <label>{{lookup ../traitTypeTranslationMap traitType}}:</label>
      </div>
      <div class="trait-list">
        {{#each traits as |trait| }}
          <a data-action="traitAction"
             data-item-id="{{trait.id}}"
             data-item-uuid="{{trait.uuid}}">{{trait.name~}}</a>
          {{~#if ../../isEditMode}}
          <a data-action="traitAction"
             data-action-type="edit"
             data-item-id="{{trait.id}}"
             data-item-uuid="{{trait.uuid}}">
            <i class="fas fa-edit"></i>
          </a>
          <a data-action="traitAction"
             data-action-type="delete"
             data-item-id="{{trait.id}}"
             data-item-uuid="{{trait.uuid}}">
            <i class="fas fa-trash"></i>
          </a>
        {{/if}}
        {{~#unless @last}}, {{/unless}}
      {{/each}}
    </div>
  </div>
  <hr>
{{/each}}
</section>
