<div>
  <header class="sheet-header flexrow">
    <div class="name flexcol">
      <label>Sheet Mode: </label>
      <input
        class="toggle"
        data-action="toggleSheetMode"
        name="isEditMode"
        type="checkbox"
        {{checked isEditMode}}>
    </div>
    <img
      class="portrait"
      src="{{document.img}}"
      data-edit="img"
      data-action="editImage"
      title="{{document.name}}"
    />
    <div class="name flexcol">
      <label>Name: </label>
      <input name="name" type="text" class="" value="{{document.name}}" />
    </div>
    <div class="luck-box flexcol">
      <label>Luck:</label>
      <div class="flexrow">
        <input
          name="system.luck.value"
          type="number"
          class=""
          value="{{document.system.luck.value}}"
        />
        /
        <input
          name="system.luck.max"
          type="number"
          class=""
          value="{{document.system.luck.max}}"
        />
      </span>
    </div>
  </header>
  <hr>

  <section class="sheet-body">
    {{#each (getConfigObject "traitTypes") as |traitI18nString traitType|}}
      <div class="trait-type flexrow">
        <label>{{localize traitI18nString}}:</label>
        <div class="trait-list">
          {{#each (getTraits ../document traitType) as |trait|}}
            {{#if ../../isEditMode}}
              <input name="name" data-item-id="{{trait.id}}" data-item-uuid="{{trait.uuid}}" value="{{trait.name}}" />
            {{else}}
              <a data-action="traitAction" data-item-id="{{trait.id}}" data-item-uuid="{{trait.uuid}}">
                {{trait.name~}}
              </a>
            {{/if}}
            {{~#unless @last}}, {{/unless}}
          {{/each}}
        </div>
      </div>
      <hr>
    {{/each}}
  </section>
  <footer class="sheet-footer">
    <div class="description-container">
      <div class="description">
        As a troll, Constable Cliff has heard all the jokes. People think trolls
        are stupid, violent and cruel. The fact that it is usually stupid, violent
        and cruel people that think this is little consolation. Cliff doesn’t
        mind though, he approaches every person with a diamond-toothed
        smile and a determination to meet everyone halfway.
        His efforts have made him the face of the
        Watch to many of Ankh-Morpork’s residents
        who have heard of him. Which is some of them.
      </div>
    </div>
  </footer>
</div>
