<div>
  <section class="sheet-header">
      <img
        class="portrait"
        src="{{document.img}}"
        data-edit="img"
        data-action="editImage"
        title="{{document.name}}"
        width="75"
      />
    <div class="flexrow">
      <label>Name: </label>
      <input name="name" type="text" class="" value="{{document.name}}" />
    </div>
  </section>
  <section class="sheet-body">
    {{#each (getConfigObject "traitTypes") as |traitI18nString traitType|}}
      <div class="flexrow">
        <label>{{localize traitI18nString}}</label>
        <div>
          {{#each (getTraits ../document traitType) as |trait|}}
            <a data-action="rollTrait" data-item-id="{{trait.id}}" data-item-uuid="{{trait.uuid}}">
              {{trait.name~}}
            </a>
            {{~#unless @last}}, {{/unless}}
          {{/each}}
        </div>
      </div>
    {{/each}}
  </section>
</div>
