<div class="discworld">
  <header class="flexcol trait-quote">
    <q>{{trait.name}}</q>
    <cite>{{actor.name}}</cite>
  </header>
  <div class="flexrow dice-rolls">
    <!-- Player Results -->
    <div class="result-container">
      <button class="help">
        {{localize "DISCWORLD.chat.postRollActions.help"}}
        <i class="fas fa-dice"></i>
      </button>

      <ol class="result">
        <li class="playerResult {{term}} flexrow
                   {{#unless helpResult }}
                     move-right{{/unless }}">
          <span>{{result}}</span>
        </li>

        <li class="helpResult {{helpTerm}} flexrow
                   {{#unless helpResult }}
                     not-visible {{/unless }}">
          <span>{{helpResult}}</span>
        </li>
      </ol>
    </div>
    <!-- Narrativium Results -->
    <div class="result-container">
      <button class="narrativium {{#if gmResult }}reroll{{/if }}">
        {{#unless gmResult}}
          {{localize "DISCWORLD.chat.postRollActions.narrativium"}}
        {{else}}
          {{localize "DISCWORLD.chat.postRollActions.reroll"}}
        {{/unless}}
        <i class="fas fa-dice"></i>
      </button>

      <ol class="result">
        <li class="gmResult d8 flexrow
                   {{#unless gmRerollResult }}
                     move-right{{/unless }}">
          <span>
            {{#if gmResult }}
              {{gmResult}}
            {{else}}
              ?
            {{/if}}
          </span>
        </li>

        <li class="gmRerollResult d8 flexrow
                   {{#unless gmRerollResult }}
                     not-visible {{/unless }}">
          <span>{{gmRerollResult}}</span>
        </li>
      </ol>
    </div>
  </div>
</div>
