<div class="discworld">
  <header class="trait-container">
    <h4 class="divider">{{localize "DISCWORLD.roll.traitRoll"}}</h4>
    {{> (systemFilePath "templates/mixins/trait-quote.hbs") traitName=mainRoll.trait.name actorName=mainRoll.actor.name}}
    {{#if helpRoll.trait }}
      <h4 class="divider">{{localize "DISCWORLD.roll.helpRoll"}}</h4>
      {{> (systemFilePath "templates/mixins/trait-quote.hbs") traitName=helpRoll.trait.name actorName=helpRoll.actor.name}}
    {{/if}}
  </header>
  <div class="flexrow dice-rolls">
    <!-- Player Results -->
    <div class="outcome-container">
      <button data-action="help" class="help" {{disabled css.buttonDisabled.help }}>
        {{localize "DISCWORLD.chat.postRollActions.help"}}
        <i class="fas fa-dice"></i>
      </button>

      <ol class="result {{css.outcome.player}}">
        <li class="playerResult {{mainRoll.term}} flexrow {{css.result.player}}">
          <span>{{mainRoll.result}}</span>
        </li>

        <li class="helpResult {{helpRoll.term}} flexrow {{css.result.help}}">
          <span>{{helpRoll.result}}</span>
        </li>
      </ol>
    </div>
    <!-- Narrativium Results -->
    <div class="outcome-container">
      <button data-action="narrativium"
              class="narrativium {{css.rerollButton}}"
              {{disabled css.buttonDisabled.narrativium }}>
        {{#if css.rerollButton }}
          {{localize "DISCWORLD.chat.postRollActions.reroll"}}
        {{else}}
          {{localize "DISCWORLD.chat.postRollActions.narrativium"}}
        {{/if}}
        <i class="fas fa-dice"></i>
      </button>

      <ol class="result {{css.outcome.gm }}">
        <li class="gmResult d8 flexrow {{css.result.gm}}">
          <span>
            {{#if gmRoll.result }}
              {{gmRoll.result}}
            {{else}}
              ?
            {{/if}}
          </span>
        </li>

        <li class="gmRerollResult d8 flexrow {{css.result.gmReroll}}">
          <span>{{gmReroll.result}}</span>
        </li>
      </ol>
    </div>
  </div>
</div>
