<div class="discworld">
  <header class="flexcol trait-quote">
    <q>{{trait.name}}</q>
    <cite>{{actor.name}}</cite>
    {{#if helpTrait }}
      <q>{{helpTrait.name}}</q>
      <cite>{{helpActor.name}}</cite>
    {{/if}}
  </header>
  <div class="flexrow dice-rolls">
    <!-- Player Results -->
    <div class="result-container">
      <button data-action="help" class="help" {{disabled helpDisabled }}>
        {{localize "DISCWORLD.chat.postRollActions.help"}}
        <i class="fas fa-dice"></i>
      </button>

      <ol class="result {{cssClass.playerOutcome}}">
        <li class="playerResult {{term}} flexrow {{cssClass.playerResult}}">
          <span>{{result}}</span>
        </li>

        <li class="helpResult {{helpTerm}} flexrow {{cssClass.helpResult}}">
          <span>{{helpResult}}</span>
        </li>
      </ol>
    </div>

    <!-- Narrativium Results -->
    <div class="result-container">
      <button data-action="narrativium"
              class="narrativium {{cssClass.narrativiumReroll}}"
              {{disabled narrativiumDisabled }}>
        {{#unless gmResult}}
          {{localize "DISCWORLD.chat.postRollActions.narrativium"}}
        {{else}}
          {{localize "DISCWORLD.chat.postRollActions.reroll"}}
        {{/unless}}
        <i class="fas fa-dice"></i>
      </button>

      <ol class="result {{cssClass.gmOutcome }}">
        <li class="gmResult d8 flexrow {{cssClass.gmResult}}">
          <span>
            {{#if gmResult }}
              {{gmResult}}
            {{else}}
              ?
            {{/if}}
          </span>
        </li>

        <li class="gmRerollResult d8 flexrow {{cssClass.gmRerollResult}}">
          <span>{{gmRerollResult}}</span>
        </li>
      </ol>
    </div>
  </div>
</div>
