<div class="discworld">
  <header class="flexcol trait-quote">
    <q>{{trait.name}}</q>
    <cite>{{actor.name}}</cite>
    {{#if help.trait }}
      <q>{{help.trait.name}}</q>
      <cite>{{help.actor.name}}</cite>
    {{/if}}
  </header>
  <div class="flexrow dice-rolls">
    <!-- Player Results -->
    <div class="outcome-container">
      <button data-action="help" class="help" {{disabled buttonDisabled.help }}>
        {{localize "DISCWORLD.chat.postRollActions.help"}}
        <i class="fas fa-dice"></i>
      </button>

      <ol class="result {{cssClass.outcome.player}}">
        <li class="playerResult {{term}} flexrow {{cssClass.results.player}}">
          <span>{{results.player.primary}}</span>
        </li>

        <li class="helpResult {{help.term}} flexrow {{cssClass.results.help}}">
          <span>{{results.player.help}}</span>
        </li>
      </ol>
    </div>
    {{log this}}
    <!-- Narrativium Results -->
    <div class="outcome-container">
      <button data-action="narrativium"
              class="narrativium {{cssClass.rerollButton}}"
              {{disabled buttonDisabled.narrativium }}>
        {{#if cssClass.rerollButton }}
          {{localize "DISCWORLD.chat.postRollActions.reroll"}}
        {{else}}
          {{localize "DISCWORLD.chat.postRollActions.narrativium"}}
        {{/if}}
        <i class="fas fa-dice"></i>
      </button>

      <ol class="result {{cssClass.outcome.gm }}">
        <li class="gmResult d8 flexrow {{cssClass.results.gm}}">
          <span>
            {{#if results.gm.primary }}
              {{results.gm.primary}}
            {{else}}
              ?
            {{/if}}
          </span>
        </li>

        <li class="gmRerollResult d8 flexrow {{cssClass.results.gmReroll}}">
          <span>{{results.gm.reroll}}</span>
        </li>
      </ol>
    </div>
  </div>
</div>
