<div class="discworld">
  <header class="flexcol trait-quote">
    <q>{{trait.name}}</q>
    <cite>{{actor.name}}</cite>
  </header>
  <div class="flexrow dice-rolls">
    <!-- Player Results -->
    <div class="result-container">
      <button class="help">
        {{localize "DISCWORLD.chat.postRollActions.help"}}
        <i class="fas fa-dice"></i>
      </button>

      <div class="result {{term}}">
        <span>{{result}}</span>
      </div>
    </div>
    <!-- Narrativium Results -->
    <div class="result-container">
      <button class="narrativium">
        {{localize "DISCWORLD.chat.postRollActions.narrativium"}}
        <i class="fas fa-dice"></i>
      </button>

      <div class="result d8">
        <span>
          {{#if gmResult }}
            {{gmResult}}
          {{else}}
            ?
          {{/if}}
        </span>
      </div>
    </div>
  </div>
</div>
