<div class="discworld">
  <header class="flexcol trait-quote">
    <q>{{trait.name}}</q>
    <cite>{{actor.name}}</cite>
  </header>
  <div class="flexrow dice-rolls">
    <!-- Player Results -->
    <div class="result-container">
      <button class="help">
        {{localize "DISCWORLD.chat.postRollActions.help"}}
        <i class="fas fa-dice"></i>
      </button>

      <ol class="result {{term}}">
        <li class="playerResult {{term}} flexrow">
          <span>{{result}}</span>
        </li>

        {{#if helpTerm }}
          <li class="helpResult {{helpTerm}} flexrow">
            <span>{{helpResult}}</span>
          </li>
        {{/if}}
      </ol>
    </div>
    <!-- Narrativium Results -->
    <div class="result-container">
      <button class="narrativium">
        {{localize "DISCWORLD.chat.postRollActions.narrativium"}}
        <i class="fas fa-dice"></i>
      </button>

      <ol class="result">
        <li class="gmResult d8 flexrow">
          <span>
            {{#if gmResult }}
              {{gmResult}}
            {{else}}
              ?
            {{/if}}
          </span>
        </li>
        {{#if gmRerollResult }}
          <li class="gmRerollResult d8 flexrow">
            <span>{{gmRerollResult}}</span>
          </li>
        {{/if}}
      </ol>
    </div>
  </div>
</div>
