<div>
  <header class="sheet-header flexrow">
    <div class="portrait-container">
      <img class="portrait"
           src="{{document.img}}"
           data-edit="img"
           data-action="editImage"
           title="{{document.name}}" />
    </div>

    <div class="header-data-container flexrow">
      <h1 class="document-name">{{formInput fields.name.field value=fields.name.value}}</h1>
    </div>
  </header>

  <hr>
  <h4>Settings</h4>

  <section class="sheet-body">
    <div class="property-container">
      {{formGroup fields.type.field value=fields.type.value}}

      {{#if fields.severity.show }}
        {{formGroup fields.severity.field value=fields.severity.value}}
      {{/if}}
    </div>
    <hr>
    <div class="notes-container">
      {{formGroup fields.notes.field value=fields.notes.value enriched=fields.notes.enriched height=200 toggled=true}}
    </div>
  </section>
</div>
