<div>
  <header class="sheet-header flexrow">
    <div class="portrait-container">
      <img class="portrait"
           src="{{document.img}}"
           data-edit="img"
           data-action="editImage"
           title="{{document.name}}" />
    </div>
    {{formGroup fields.name.field value=fields.name.value label=fields.name.label}}
  </header>
  <section class="sheet-body">
    {{formGroup fields.type.field value=fields.type.value}}
    {{#if fields.severity.show }}
      {{formGroup fields.severity.field value=fields.severity.value}}
    {{/if}}
    {{formGroup fields.notes.field value=fields.notes.value enriched=fields.notes.enriched height=300 toggled=true}}
  </section>
</div>
