<div>
  <header class="sheet-header flexrow">
    <div class="portrait-container">
      <img class="portrait"
           src="{{document.img}}"
           data-edit="img"
           data-action="editImage"
           title="{{document.name}}" />
    </div>

    <div class="header-data-container flexcol">
      <h1 class="document-name">{{formInput fields.name.field value=fields.name.value}}</h1>
      <div class="document-details flexrow">
        <div class="detail-left trait-type">{{formGroup fields.type.field value=fields.type.value}}</div>
        {{#if fields.severity.show }}
          <div class="detail-right severity">
            {{formGroup fields.severity.field value=fields.severity.value}}
          </div>
        {{/if}}
      </div>
    </div>
  </header>

  <hr>
  <section class="sheet-body">
    {{formInput fields.notes.field value=fields.notes.value enriched=fields.notes.enriched toggled=true}}
  </section>
</div>
