<header>
  <div class="portrait-container">
    <img class="portrait" data-edit="img" data-action="editImage" src="{{document.img}}" alt="{{document.name}}">
  </div>
  <div class="header-data-container">
    <div class="document-controls flexrow">
      <a class="toggle-container"
        data-action="toggleSheetMode"
        data-tooltip="{{tooltip}}"
        data-tooltip-direction="{{tooltipDir}}">
        <i class="fas fa-xs fa-lock{{#if isEditMode }}-open{{/if }}"></i>
      </a>
    </div>
    <div class="document-name flexrow">
      <h3 class="title">
        {{#if isEditMode}}
        <input type="text" name="name" value="{{document.name}}">
        {{else}}
        {{document.name}}
        {{/if}}
      </h3>
    </div>
    <a data-action="placeMembers" {{disabled (not header.canPlaceMembers)}}>
      <i class="fa-solid fa-fw fa-bullseye" inert></i>
      <span>{{localize "Place Members"}}</span>
    </a>
  </div>
</header>
